.user-avatar-dropdown {
    position: relative;

    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.user-avatar-dropdown__select {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
