.time-capsule-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: var(--spacing-3);
}

.time-capsule-card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: var(--spacing-3);

    height: 22.5rem;
    padding-inline: var(--spacing-4);
    padding-block: var(--spacing-6);

    border: 1px solid var(--color-primary-300);
    border-radius: var(--rounded-2xl);

    background-color: var(--color-primary-100);
    color: var(--color-primary-900);
}

.time-capsule-card__title {
}

.time-capsule-card__meta {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2);
}

.time-capsule-card__preview {
}

.time-capsule-card__meta-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
}

.time-capsule-card__meta-icon {
    opacity: 0.5;
}

.time-capsule-card__meta-text {
}

.time-capsule-card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--spacing-2);
}
.time-capsule-card__footer:hover {
    opacity: 0.8;
}

.time-capsule-card__user-avatar {
}

.time-capsule-card__user-name {
}
.time-capsule-card__footer:hover .time-capsule-card__user-name {
    text-decoration: underline;
    opacity: 0.8;
}
