.time-capsule-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: var(--spacing-3);
}

.time-capsule-card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: var(--spacing-3);

    min-height: 22.5rem;
    padding-inline: var(--spacing-4);
    padding-block: var(--spacing-6);

    border: 1px solid var(--card-color-border);
    border-radius: var(--rounded-2xl);

    background-color: var(--card-color-bg);
    color: var(--card-color-text);

    transition: transform 250ms ease;
}

.time-capsule-card__body--primary {
    --card-color-border: var(--color-primary-300);
    --card-color-bg: var(--color-primary-100);
    --card-color-text: var(--color-primary-900);
}
.time-capsule-card__body--gray {
    --card-color-border: var(--color-gray-300);
    --card-color-bg: var(--color-gray-100);
    --card-color-text: var(--color-gray-900);
}
.time-capsule-card__body--yellow {
    --card-color-border: var(--color-yellow-300);
    --card-color-bg: var(--color-yellow-100);
    --card-color-text: var(--color-yellow-900);
}
.time-capsule-card__body--magenta {
    --card-color-border: var(--color-magenta-300);
    --card-color-bg: var(--color-magenta-100);
    --card-color-text: var(--color-magenta-900);
}

/* Feeling fun. */
.time-capsule-card__body:hover {
    transform: rotate(2deg) scale(1.015) translateY(-4%);
}

.time-capsule-card__title {
}

.time-capsule-card__meta {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2);
}

.time-capsule-card__preview {
}

.time-capsule-card__meta-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
}

.time-capsule-card__meta-icon {
    opacity: 0.5;
}

.time-capsule-card__meta-text {
}

.time-capsule-card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--spacing-2);
}
.time-capsule-card__footer:hover {
    opacity: 0.8;
}

.time-capsule-card__user-avatar {
}

.time-capsule-card__user-name {
}
.time-capsule-card__footer:hover .time-capsule-card__user-name {
    text-decoration: underline;
    opacity: 0.8;
}
