*,
::after,
::before,
::backdrop,
::file-selector-button {
    margin: 0;
    padding: 0;
    border: 0 solid;
    box-sizing: border-box;
}

/* prevent font size inflation on some devices like iOS */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100vh; /* for browsers that don't support `dvh` yet */
    min-height: 100dvh;
    line-height: 1.5; /* a good default for body text */
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

ul,
ol {
    list-style: none;
}
