:root {
    --spacing-0: 0;
    --spacing-1: 4px;
    --spacing-1\.5: 6px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
    --spacing-12: 48px;
    --spacing-14: 56px;
    --spacing-16: 64px;
    --spacing-20: 80px;
    --spacing-24: 96px;
    --spacing-28: 112px;
    --spacing-32: 128px;
    --spacing-36: 144px;
    --spacing-40: 160px;
    --spacing-44: 176px;
    --spacing-48: 192px;
    --spacing-52: 208px;
    --spacing-56: 224px;
    --spacing-60: 240px;
    --spacing-64: 256px;
    --spacing-72: 288px;
    --spacing-80: 320px;
    --spacing-96: 384px;
}

.container {
    max-width: 72rem;
    width: 100%;

    padding-inline: var(--spacing-4);
    margin-inline: auto;
}

.m-auto {
    margin: auto;
}
.m-0 {
    margin: var(--spacing-0);
}
.m-1 {
    margin: var(--spacing-1);
}
.m-1\.5 {
    margin: var(--spacing-1\.5);
}
.m-2 {
    margin: var(--spacing-2);
}
.m-3 {
    margin: var(--spacing-3);
}
.m-4 {
    margin: var(--spacing-4);
}
.m-5 {
    margin: var(--spacing-5);
}
.m-6 {
    margin: var(--spacing-6);
}
.m-7 {
    margin: var(--spacing-7);
}
.m-8 {
    margin: var(--spacing-8);
}
.m-9 {
    margin: var(--spacing-9);
}
.m-10 {
    margin: var(--spacing-10);
}
.m-12 {
    margin: var(--spacing-12);
}
.m-14 {
    margin: var(--spacing-14);
}
.m-16 {
    margin: var(--spacing-16);
}
.m-20 {
    margin: var(--spacing-20);
}
.m-24 {
    margin: var(--spacing-24);
}
.m-28 {
    margin: var(--spacing-28);
}
.m-32 {
    margin: var(--spacing-32);
}
.m-36 {
    margin: var(--spacing-36);
}
.m-40 {
    margin: var(--spacing-40);
}
.m-44 {
    margin: var(--spacing-44);
}
.m-48 {
    margin: var(--spacing-48);
}
.m-52 {
    margin: var(--spacing-52);
}
.m-56 {
    margin: var(--spacing-56);
}
.m-60 {
    margin: var(--spacing-60);
}
.m-64 {
    margin: var(--spacing-64);
}
.m-72 {
    margin: var(--spacing-72);
}
.m-80 {
    margin: var(--spacing-80);
}
.m-96 {
    margin: var(--spacing-96);
}

.mx-auto {
    margin-inline: auto;
}
.mx-0 {
    margin-inline: var(--spacing-0);
}
.mx-1 {
    margin-inline: var(--spacing-1);
}
.mx-1\.5 {
    margin-inline: var(--spacing-1\.5);
}
.mx-2 {
    margin-inline: var(--spacing-2);
}
.mx-3 {
    margin-inline: var(--spacing-3);
}
.mx-4 {
    margin-inline: var(--spacing-4);
}
.mx-5 {
    margin-inline: var(--spacing-5);
}
.mx-6 {
    margin-inline: var(--spacing-6);
}
.mx-7 {
    margin-inline: var(--spacing-7);
}
.mx-8 {
    margin-inline: var(--spacing-8);
}
.mx-9 {
    margin-inline: var(--spacing-9);
}
.mx-10 {
    margin-inline: var(--spacing-10);
}
.mx-12 {
    margin-inline: var(--spacing-12);
}
.mx-14 {
    margin-inline: var(--spacing-14);
}
.mx-16 {
    margin-inline: var(--spacing-16);
}
.mx-20 {
    margin-inline: var(--spacing-20);
}
.mx-24 {
    margin-inline: var(--spacing-24);
}
.mx-28 {
    margin-inline: var(--spacing-28);
}
.mx-32 {
    margin-inline: var(--spacing-32);
}
.mx-36 {
    margin-inline: var(--spacing-36);
}
.mx-40 {
    margin-inline: var(--spacing-40);
}
.mx-44 {
    margin-inline: var(--spacing-44);
}
.mx-48 {
    margin-inline: var(--spacing-48);
}
.mx-52 {
    margin-inline: var(--spacing-52);
}
.mx-56 {
    margin-inline: var(--spacing-56);
}
.mx-60 {
    margin-inline: var(--spacing-60);
}
.mx-64 {
    margin-inline: var(--spacing-64);
}
.mx-72 {
    margin-inline: var(--spacing-72);
}
.mx-80 {
    margin-inline: var(--spacing-80);
}
.mx-96 {
    margin-inline: var(--spacing-96);
}

.my-auto {
    margin-block: auto;
}
.my-0 {
    margin-block: var(--spacing-0);
}
.my-1 {
    margin-block: var(--spacing-1);
}
.my-1\.5 {
    margin-block: var(--spacing-1\.5);
}
.my-2 {
    margin-block: var(--spacing-2);
}
.my-3 {
    margin-block: var(--spacing-3);
}
.my-4 {
    margin-block: var(--spacing-4);
}
.my-5 {
    margin-block: var(--spacing-5);
}
.my-6 {
    margin-block: var(--spacing-6);
}
.my-7 {
    margin-block: var(--spacing-7);
}
.my-8 {
    margin-block: var(--spacing-8);
}
.my-9 {
    margin-block: var(--spacing-9);
}
.my-10 {
    margin-block: var(--spacing-10);
}
.my-12 {
    margin-block: var(--spacing-12);
}
.my-14 {
    margin-block: var(--spacing-14);
}
.my-16 {
    margin-block: var(--spacing-16);
}
.my-20 {
    margin-block: var(--spacing-20);
}
.my-24 {
    margin-block: var(--spacing-24);
}
.my-28 {
    margin-block: var(--spacing-28);
}
.my-32 {
    margin-block: var(--spacing-32);
}
.my-36 {
    margin-block: var(--spacing-36);
}
.my-40 {
    margin-block: var(--spacing-40);
}
.my-44 {
    margin-block: var(--spacing-44);
}
.my-48 {
    margin-block: var(--spacing-48);
}
.my-52 {
    margin-block: var(--spacing-52);
}
.my-56 {
    margin-block: var(--spacing-56);
}
.my-60 {
    margin-block: var(--spacing-60);
}
.my-64 {
    margin-block: var(--spacing-64);
}
.my-72 {
    margin-block: var(--spacing-72);
}
.my-80 {
    margin-block: var(--spacing-80);
}
.my-96 {
    margin-block: var(--spacing-96);
}

.ms-auto {
    margin-inline-start: auto;
}
.ms-0 {
    margin-inline-start: var(--spacing-0);
}
.ms-1 {
    margin-inline-start: var(--spacing-1);
}
.ms-1\.5 {
    margin-inline-start: var(--spacing-1\.5);
}
.ms-2 {
    margin-inline-start: var(--spacing-2);
}
.ms-3 {
    margin-inline-start: var(--spacing-3);
}
.ms-4 {
    margin-inline-start: var(--spacing-4);
}
.ms-5 {
    margin-inline-start: var(--spacing-5);
}
.ms-6 {
    margin-inline-start: var(--spacing-6);
}
.ms-7 {
    margin-inline-start: var(--spacing-7);
}
.ms-8 {
    margin-inline-start: var(--spacing-8);
}
.ms-9 {
    margin-inline-start: var(--spacing-9);
}
.ms-10 {
    margin-inline-start: var(--spacing-10);
}
.ms-12 {
    margin-inline-start: var(--spacing-12);
}
.ms-14 {
    margin-inline-start: var(--spacing-14);
}
.ms-16 {
    margin-inline-start: var(--spacing-16);
}
.ms-20 {
    margin-inline-start: var(--spacing-20);
}
.ms-24 {
    margin-inline-start: var(--spacing-24);
}
.ms-28 {
    margin-inline-start: var(--spacing-28);
}
.ms-32 {
    margin-inline-start: var(--spacing-32);
}
.ms-36 {
    margin-inline-start: var(--spacing-36);
}
.ms-40 {
    margin-inline-start: var(--spacing-40);
}
.ms-44 {
    margin-inline-start: var(--spacing-44);
}
.ms-48 {
    margin-inline-start: var(--spacing-48);
}
.ms-52 {
    margin-inline-start: var(--spacing-52);
}
.ms-56 {
    margin-inline-start: var(--spacing-56);
}
.ms-60 {
    margin-inline-start: var(--spacing-60);
}
.ms-64 {
    margin-inline-start: var(--spacing-64);
}
.ms-72 {
    margin-inline-start: var(--spacing-72);
}
.ms-80 {
    margin-inline-start: var(--spacing-80);
}
.ms-96 {
    margin-inline-start: var(--spacing-96);
}

.me-auto {
    margin-inline-end: auto;
}
.me-0 {
    margin-inline-end: var(--spacing-0);
}
.me-1 {
    margin-inline-end: var(--spacing-1);
}
.me-1\.5 {
    margin-inline-end: var(--spacing-1\.5);
}
.me-2 {
    margin-inline-end: var(--spacing-2);
}
.me-3 {
    margin-inline-end: var(--spacing-3);
}
.me-4 {
    margin-inline-end: var(--spacing-4);
}
.me-5 {
    margin-inline-end: var(--spacing-5);
}
.me-6 {
    margin-inline-end: var(--spacing-6);
}
.me-7 {
    margin-inline-end: var(--spacing-7);
}
.me-8 {
    margin-inline-end: var(--spacing-8);
}
.me-9 {
    margin-inline-end: var(--spacing-9);
}
.me-10 {
    margin-inline-end: var(--spacing-10);
}
.me-12 {
    margin-inline-end: var(--spacing-12);
}
.me-14 {
    margin-inline-end: var(--spacing-14);
}
.me-16 {
    margin-inline-end: var(--spacing-16);
}
.me-20 {
    margin-inline-end: var(--spacing-20);
}
.me-24 {
    margin-inline-end: var(--spacing-24);
}
.me-28 {
    margin-inline-end: var(--spacing-28);
}
.me-32 {
    margin-inline-end: var(--spacing-32);
}
.me-36 {
    margin-inline-end: var(--spacing-36);
}
.me-40 {
    margin-inline-end: var(--spacing-40);
}
.me-44 {
    margin-inline-end: var(--spacing-44);
}
.me-48 {
    margin-inline-end: var(--spacing-48);
}
.me-52 {
    margin-inline-end: var(--spacing-52);
}
.me-56 {
    margin-inline-end: var(--spacing-56);
}
.me-60 {
    margin-inline-end: var(--spacing-60);
}
.me-64 {
    margin-inline-end: var(--spacing-64);
}
.me-72 {
    margin-inline-end: var(--spacing-72);
}
.me-80 {
    margin-inline-end: var(--spacing-80);
}
.me-96 {
    margin-inline-end: var(--spacing-96);
}

.p-auto {
    padding: auto;
}
.p-0 {
    padding: var(--spacing-0);
}
.p-1 {
    padding: var(--spacing-1);
}
.p-1\.5 {
    padding: var(--spacing-1\.5);
}
.p-2 {
    padding: var(--spacing-2);
}
.p-3 {
    padding: var(--spacing-3);
}
.p-4 {
    padding: var(--spacing-4);
}
.p-5 {
    padding: var(--spacing-5);
}
.p-6 {
    padding: var(--spacing-6);
}
.p-7 {
    padding: var(--spacing-7);
}
.p-8 {
    padding: var(--spacing-8);
}
.p-9 {
    padding: var(--spacing-9);
}
.p-10 {
    padding: var(--spacing-10);
}
.p-12 {
    padding: var(--spacing-12);
}
.p-14 {
    padding: var(--spacing-14);
}
.p-16 {
    padding: var(--spacing-16);
}
.p-20 {
    padding: var(--spacing-20);
}
.p-24 {
    padding: var(--spacing-24);
}
.p-28 {
    padding: var(--spacing-28);
}
.p-32 {
    padding: var(--spacing-32);
}
.p-36 {
    padding: var(--spacing-36);
}
.p-40 {
    padding: var(--spacing-40);
}
.p-44 {
    padding: var(--spacing-44);
}
.p-48 {
    padding: var(--spacing-48);
}
.p-52 {
    padding: var(--spacing-52);
}
.p-56 {
    padding: var(--spacing-56);
}
.p-60 {
    padding: var(--spacing-60);
}
.p-64 {
    padding: var(--spacing-64);
}
.p-72 {
    padding: var(--spacing-72);
}
.p-80 {
    padding: var(--spacing-80);
}
.p-96 {
    padding: var(--spacing-96);
}

.px-auto {
    padding-inline: auto;
}
.px-0 {
    padding-inline: var(--spacing-0);
}
.px-1 {
    padding-inline: var(--spacing-1);
}
.px-1\.5 {
    padding-inline: var(--spacing-1\.5);
}
.px-2 {
    padding-inline: var(--spacing-2);
}
.px-3 {
    padding-inline: var(--spacing-3);
}
.px-4 {
    padding-inline: var(--spacing-4);
}
.px-5 {
    padding-inline: var(--spacing-5);
}
.px-6 {
    padding-inline: var(--spacing-6);
}
.px-7 {
    padding-inline: var(--spacing-7);
}
.px-8 {
    padding-inline: var(--spacing-8);
}
.px-9 {
    padding-inline: var(--spacing-9);
}
.px-10 {
    padding-inline: var(--spacing-10);
}
.px-12 {
    padding-inline: var(--spacing-12);
}
.px-14 {
    padding-inline: var(--spacing-14);
}
.px-16 {
    padding-inline: var(--spacing-16);
}
.px-20 {
    padding-inline: var(--spacing-20);
}
.px-24 {
    padding-inline: var(--spacing-24);
}
.px-28 {
    padding-inline: var(--spacing-28);
}
.px-32 {
    padding-inline: var(--spacing-32);
}
.px-36 {
    padding-inline: var(--spacing-36);
}
.px-40 {
    padding-inline: var(--spacing-40);
}
.px-44 {
    padding-inline: var(--spacing-44);
}
.px-48 {
    padding-inline: var(--spacing-48);
}
.px-52 {
    padding-inline: var(--spacing-52);
}
.px-56 {
    padding-inline: var(--spacing-56);
}
.px-60 {
    padding-inline: var(--spacing-60);
}
.px-64 {
    padding-inline: var(--spacing-64);
}
.px-72 {
    padding-inline: var(--spacing-72);
}
.px-80 {
    padding-inline: var(--spacing-80);
}
.px-96 {
    padding-inline: var(--spacing-96);
}

.py-auto {
    padding-block: auto;
}
.py-0 {
    padding-block: var(--spacing-0);
}
.py-1 {
    padding-block: var(--spacing-1);
}
.py-1\.5 {
    padding-block: var(--spacing-1\.5);
}
.py-2 {
    padding-block: var(--spacing-2);
}
.py-3 {
    padding-block: var(--spacing-3);
}
.py-4 {
    padding-block: var(--spacing-4);
}
.py-5 {
    padding-block: var(--spacing-5);
}
.py-6 {
    padding-block: var(--spacing-6);
}
.py-7 {
    padding-block: var(--spacing-7);
}
.py-8 {
    padding-block: var(--spacing-8);
}
.py-9 {
    padding-block: var(--spacing-9);
}
.py-10 {
    padding-block: var(--spacing-10);
}
.py-12 {
    padding-block: var(--spacing-12);
}
.py-14 {
    padding-block: var(--spacing-14);
}
.py-16 {
    padding-block: var(--spacing-16);
}
.py-20 {
    padding-block: var(--spacing-20);
}
.py-24 {
    padding-block: var(--spacing-24);
}
.py-28 {
    padding-block: var(--spacing-28);
}
.py-32 {
    padding-block: var(--spacing-32);
}
.py-36 {
    padding-block: var(--spacing-36);
}
.py-40 {
    padding-block: var(--spacing-40);
}
.py-44 {
    padding-block: var(--spacing-44);
}
.py-48 {
    padding-block: var(--spacing-48);
}
.py-52 {
    padding-block: var(--spacing-52);
}
.py-56 {
    padding-block: var(--spacing-56);
}
.py-60 {
    padding-block: var(--spacing-60);
}
.py-64 {
    padding-block: var(--spacing-64);
}
.py-72 {
    padding-block: var(--spacing-72);
}
.py-80 {
    padding-block: var(--spacing-80);
}
.py-96 {
    padding-block: var(--spacing-96);
}

.ps-auto {
    padding-inline-start: auto;
}
.ps-0 {
    padding-inline-start: var(--spacing-0);
}
.ps-1 {
    padding-inline-start: var(--spacing-1);
}
.ps-1\.5 {
    padding-inline-start: var(--spacing-1\.5);
}
.ps-2 {
    padding-inline-start: var(--spacing-2);
}
.ps-3 {
    padding-inline-start: var(--spacing-3);
}
.ps-4 {
    padding-inline-start: var(--spacing-4);
}
.ps-5 {
    padding-inline-start: var(--spacing-5);
}
.ps-6 {
    padding-inline-start: var(--spacing-6);
}
.ps-7 {
    padding-inline-start: var(--spacing-7);
}
.ps-8 {
    padding-inline-start: var(--spacing-8);
}
.ps-9 {
    padding-inline-start: var(--spacing-9);
}
.ps-10 {
    padding-inline-start: var(--spacing-10);
}
.ps-12 {
    padding-inline-start: var(--spacing-12);
}
.ps-14 {
    padding-inline-start: var(--spacing-14);
}
.ps-16 {
    padding-inline-start: var(--spacing-16);
}
.ps-20 {
    padding-inline-start: var(--spacing-20);
}
.ps-24 {
    padding-inline-start: var(--spacing-24);
}
.ps-28 {
    padding-inline-start: var(--spacing-28);
}
.ps-32 {
    padding-inline-start: var(--spacing-32);
}
.ps-36 {
    padding-inline-start: var(--spacing-36);
}
.ps-40 {
    padding-inline-start: var(--spacing-40);
}
.ps-44 {
    padding-inline-start: var(--spacing-44);
}
.ps-48 {
    padding-inline-start: var(--spacing-48);
}
.ps-52 {
    padding-inline-start: var(--spacing-52);
}
.ps-56 {
    padding-inline-start: var(--spacing-56);
}
.ps-60 {
    padding-inline-start: var(--spacing-60);
}
.ps-64 {
    padding-inline-start: var(--spacing-64);
}
.ps-72 {
    padding-inline-start: var(--spacing-72);
}
.ps-80 {
    padding-inline-start: var(--spacing-80);
}
.ps-96 {
    padding-inline-start: var(--spacing-96);
}

.pe-auto {
    padding-inline-end: auto;
}
.pe-0 {
    padding-inline-end: var(--spacing-0);
}
.pe-1 {
    padding-inline-end: var(--spacing-1);
}
.pe-1\.5 {
    padding-inline-start: var(--spacing-1\.5);
}
.pe-2 {
    padding-inline-start: var(--spacing-2);
}
.pe-3 {
    padding-inline-start: var(--spacing-3);
}
.pe-4 {
    padding-inline-start: var(--spacing-4);
}
.pe-5 {
    padding-inline-start: var(--spacing-5);
}
.pe-6 {
    padding-inline-start: var(--spacing-6);
}
.pe-7 {
    padding-inline-start: var(--spacing-7);
}
.pe-8 {
    padding-inline-start: var(--spacing-8);
}
.pe-9 {
    padding-inline-start: var(--spacing-9);
}
.pe-10 {
    padding-inline-start: var(--spacing-10);
}
.pe-12 {
    padding-inline-start: var(--spacing-12);
}
.pe-14 {
    padding-inline-start: var(--spacing-14);
}
.pe-16 {
    padding-inline-start: var(--spacing-16);
}
.pe-20 {
    padding-inline-start: var(--spacing-20);
}
.pe-24 {
    padding-inline-start: var(--spacing-24);
}
.pe-28 {
    padding-inline-start: var(--spacing-28);
}
.pe-32 {
    padding-inline-start: var(--spacing-32);
}
.pe-36 {
    padding-inline-start: var(--spacing-36);
}
.pe-40 {
    padding-inline-start: var(--spacing-40);
}
.pe-44 {
    padding-inline-start: var(--spacing-44);
}
.pe-48 {
    padding-inline-start: var(--spacing-48);
}
.pe-52 {
    padding-inline-start: var(--spacing-52);
}
.pe-56 {
    padding-inline-start: var(--spacing-56);
}
.pe-60 {
    padding-inline-start: var(--spacing-60);
}
.pe-64 {
    padding-inline-start: var(--spacing-64);
}
.pe-72 {
    padding-inline-start: var(--spacing-72);
}
.pe-80 {
    padding-inline-start: var(--spacing-80);
}
.pe-96 {
    padding-inline-start: var(--spacing-96);
}
