:root {
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.125rem;
    --fs-labeltext: 1.125rem;
    --fs-caption: 0.875rem;
    --fs-button: 1rem;

    --tracking-tighter: -0.05em;
    --tracking-tight: -0.025em;
    --tracking-normal: 0em;
    --tracking-wide: 0.025em;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;
}

.fs-h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-extrabold);
    letter-spacing: -3%;
}

.fs-h2 {
    font-size: var(--fs-h2);
}

.fs-h3 {
    font-size: var(--fs-h3);
}

.fs-body {
    font-size: var(--fs-body);
}

.fs-labeltext {
    font-size: var(--fs-labeltext);
}

.fs-caption {
    font-size: var(--fs-caption);
}

.fs-button {
    font-size: var(--fs-button);
}
