.user-avatar {
    border-radius: var(--rounded-full);
    outline: 2px solid rgb(128, 128, 128, 0.3);
    outline-offset: 1px;
}

.user-avatar--xs {
    width: 2rem;
    height: 2rem;
}
.user-avatar--sm {
    width: 2.5rem;
    height: 2.5rem;
}
.user-avatar--md {
    width: 3rem;
    height: 3rem;
}
.user-avatar--xl {
    width: 10rem;
    height: 10rem;
}
