.gap-0 {
    gap: var(--spacing-0);
}
.gap-1 {
    gap: var(--spacing-1);
}
.gap-1\.5 {
    gap: var(--spacing-1\.5);
}
.gap-2 {
    gap: var(--spacing-2);
}
.gap-3 {
    gap: var(--spacing-3);
}
.gap-4 {
    gap: var(--spacing-4);
}
.gap-5 {
    gap: var(--spacing-5);
}
.gap-6 {
    gap: var(--spacing-6);
}
.gap-7 {
    gap: var(--spacing-7);
}
.gap-8 {
    gap: var(--spacing-8);
}
.gap-9 {
    gap: var(--spacing-9);
}
.gap-10 {
    gap: var(--spacing-10);
}
.gap-12 {
    gap: var(--spacing-12);
}
.gap-14 {
    gap: var(--spacing-14);
}
.gap-16 {
    gap: var(--spacing-16);
}
.gap-20 {
    gap: var(--spacing-20);
}
.gap-24 {
    gap: var(--spacing-24);
}
.gap-28 {
    gap: var(--spacing-28);
}
.gap-32 {
    gap: var(--spacing-32);
}
.gap-36 {
    gap: var(--spacing-36);
}
.gap-40 {
    gap: var(--spacing-40);
}
.gap-44 {
    gap: var(--spacing-44);
}
.gap-48 {
    gap: var(--spacing-48);
}
.gap-52 {
    gap: var(--spacing-52);
}
.gap-56 {
    gap: var(--spacing-56);
}
.gap-60 {
    gap: var(--spacing-60);
}
.gap-64 {
    gap: var(--spacing-64);
}
.gap-72 {
    gap: var(--spacing-72);
}
.gap-80 {
    gap: var(--spacing-80);
}
.gap-96 {
    gap: var(--spacing-96);
}

.gap-x-0 {
    column-gap: var(--spacing-0);
}
.gap-x-1 {
    column-gap: var(--spacing-1);
}
.gap-x-1\.5 {
    column-gap: var(--spacing-1\.5);
}
.gap-x-2 {
    column-gap: var(--spacing-2);
}
.gap-x-3 {
    column-gap: var(--spacing-3);
}
.gap-x-4 {
    column-gap: var(--spacing-4);
}
.gap-x-5 {
    column-gap: var(--spacing-5);
}
.gap-x-6 {
    column-gap: var(--spacing-6);
}
.gap-x-7 {
    column-gap: var(--spacing-7);
}
.gap-x-8 {
    column-gap: var(--spacing-8);
}
.gap-x-9 {
    column-gap: var(--spacing-9);
}
.gap-x-10 {
    column-gap: var(--spacing-10);
}
.gap-x-12 {
    column-gap: var(--spacing-12);
}
.gap-x-14 {
    column-gap: var(--spacing-14);
}
.gap-x-16 {
    column-gap: var(--spacing-16);
}
.gap-x-20 {
    column-gap: var(--spacing-20);
}
.gap-x-24 {
    column-gap: var(--spacing-24);
}
.gap-x-28 {
    column-gap: var(--spacing-28);
}
.gap-x-32 {
    column-gap: var(--spacing-32);
}
.gap-x-36 {
    column-gap: var(--spacing-36);
}
.gap-x-40 {
    column-gap: var(--spacing-40);
}
.gap-x-44 {
    column-gap: var(--spacing-44);
}
.gap-x-48 {
    column-gap: var(--spacing-48);
}
.gap-x-52 {
    column-gap: var(--spacing-52);
}
.gap-x-56 {
    column-gap: var(--spacing-56);
}
.gap-x-60 {
    column-gap: var(--spacing-60);
}
.gap-x-64 {
    column-gap: var(--spacing-64);
}
.gap-x-72 {
    column-gap: var(--spacing-72);
}
.gap-x-80 {
    column-gap: var(--spacing-80);
}
.gap-x-96 {
    column-gap: var(--spacing-96);
}

.gap-y-0 {
    row-gap: var(--spacing-0);
}
.gap-y-1 {
    row-gap: var(--spacing-1);
}
.gap-y-1\.5 {
    row-gap: var(--spacing-1\.5);
}
.gap-y-2 {
    row-gap: var(--spacing-2);
}
.gap-y-3 {
    row-gap: var(--spacing-3);
}
.gap-y-4 {
    row-gap: var(--spacing-4);
}
.gap-y-5 {
    row-gap: var(--spacing-5);
}
.gap-y-6 {
    row-gap: var(--spacing-6);
}
.gap-y-7 {
    row-gap: var(--spacing-7);
}
.gap-y-8 {
    row-gap: var(--spacing-8);
}
.gap-y-9 {
    row-gap: var(--spacing-9);
}
.gap-y-10 {
    row-gap: var(--spacing-10);
}
.gap-y-12 {
    row-gap: var(--spacing-12);
}
.gap-y-14 {
    row-gap: var(--spacing-14);
}
.gap-y-16 {
    row-gap: var(--spacing-16);
}
.gap-y-20 {
    row-gap: var(--spacing-20);
}
.gap-y-24 {
    row-gap: var(--spacing-24);
}
.gap-y-28 {
    row-gap: var(--spacing-28);
}
.gap-y-32 {
    row-gap: var(--spacing-32);
}
.gap-y-36 {
    row-gap: var(--spacing-36);
}
.gap-y-40 {
    row-gap: var(--spacing-40);
}
.gap-y-44 {
    row-gap: var(--spacing-44);
}
.gap-y-48 {
    row-gap: var(--spacing-48);
}
.gap-y-52 {
    row-gap: var(--spacing-52);
}
.gap-y-56 {
    row-gap: var(--spacing-56);
}
.gap-y-60 {
    row-gap: var(--spacing-60);
}
.gap-y-64 {
    row-gap: var(--spacing-64);
}
.gap-y-72 {
    row-gap: var(--spacing-72);
}
.gap-y-80 {
    row-gap: var(--spacing-80);
}
.gap-y-96 {
    row-gap: var(--spacing-96);
}
