.p-0 {
    padding: var(--spacing-0);
}
.p-1 {
    padding: var(--spacing-1);
}
.p-1\.5 {
    padding: var(--spacing-1\.5);
}
.p-2 {
    padding: var(--spacing-2);
}
.p-3 {
    padding: var(--spacing-3);
}
.p-4 {
    padding: var(--spacing-4);
}
.p-5 {
    padding: var(--spacing-5);
}
.p-6 {
    padding: var(--spacing-6);
}
.p-7 {
    padding: var(--spacing-7);
}
.p-8 {
    padding: var(--spacing-8);
}
.p-9 {
    padding: var(--spacing-9);
}
.p-10 {
    padding: var(--spacing-10);
}
.p-12 {
    padding: var(--spacing-12);
}
.p-14 {
    padding: var(--spacing-14);
}
.p-16 {
    padding: var(--spacing-16);
}
.p-20 {
    padding: var(--spacing-20);
}
.p-24 {
    padding: var(--spacing-24);
}
.p-28 {
    padding: var(--spacing-28);
}
.p-32 {
    padding: var(--spacing-32);
}
.p-36 {
    padding: var(--spacing-36);
}
.p-40 {
    padding: var(--spacing-40);
}
.p-44 {
    padding: var(--spacing-44);
}
.p-48 {
    padding: var(--spacing-48);
}
.p-52 {
    padding: var(--spacing-52);
}
.p-56 {
    padding: var(--spacing-56);
}
.p-60 {
    padding: var(--spacing-60);
}
.p-64 {
    padding: var(--spacing-64);
}
.p-72 {
    padding: var(--spacing-72);
}
.p-80 {
    padding: var(--spacing-80);
}
.p-96 {
    padding: var(--spacing-96);
}

.px-0 {
    padding-inline: var(--spacing-0);
}
.px-1 {
    padding-inline: var(--spacing-1);
}
.px-1\.5 {
    padding-inline: var(--spacing-1\.5);
}
.px-2 {
    padding-inline: var(--spacing-2);
}
.px-3 {
    padding-inline: var(--spacing-3);
}
.px-4 {
    padding-inline: var(--spacing-4);
}
.px-5 {
    padding-inline: var(--spacing-5);
}
.px-6 {
    padding-inline: var(--spacing-6);
}
.px-7 {
    padding-inline: var(--spacing-7);
}
.px-8 {
    padding-inline: var(--spacing-8);
}
.px-9 {
    padding-inline: var(--spacing-9);
}
.px-10 {
    padding-inline: var(--spacing-10);
}
.px-12 {
    padding-inline: var(--spacing-12);
}
.px-14 {
    padding-inline: var(--spacing-14);
}
.px-16 {
    padding-inline: var(--spacing-16);
}
.px-20 {
    padding-inline: var(--spacing-20);
}
.px-24 {
    padding-inline: var(--spacing-24);
}
.px-28 {
    padding-inline: var(--spacing-28);
}
.px-32 {
    padding-inline: var(--spacing-32);
}
.px-36 {
    padding-inline: var(--spacing-36);
}
.px-40 {
    padding-inline: var(--spacing-40);
}
.px-44 {
    padding-inline: var(--spacing-44);
}
.px-48 {
    padding-inline: var(--spacing-48);
}
.px-52 {
    padding-inline: var(--spacing-52);
}
.px-56 {
    padding-inline: var(--spacing-56);
}
.px-60 {
    padding-inline: var(--spacing-60);
}
.px-64 {
    padding-inline: var(--spacing-64);
}
.px-72 {
    padding-inline: var(--spacing-72);
}
.px-80 {
    padding-inline: var(--spacing-80);
}
.px-96 {
    padding-inline: var(--spacing-96);
}

.py-0 {
    padding-block: var(--spacing-0);
}
.py-1 {
    padding-block: var(--spacing-1);
}
.py-1\.5 {
    padding-block: var(--spacing-1\.5);
}
.py-2 {
    padding-block: var(--spacing-2);
}
.py-3 {
    padding-block: var(--spacing-3);
}
.py-4 {
    padding-block: var(--spacing-4);
}
.py-5 {
    padding-block: var(--spacing-5);
}
.py-6 {
    padding-block: var(--spacing-6);
}
.py-7 {
    padding-block: var(--spacing-7);
}
.py-8 {
    padding-block: var(--spacing-8);
}
.py-9 {
    padding-block: var(--spacing-9);
}
.py-10 {
    padding-block: var(--spacing-10);
}
.py-12 {
    padding-block: var(--spacing-12);
}
.py-14 {
    padding-block: var(--spacing-14);
}
.py-16 {
    padding-block: var(--spacing-16);
}
.py-20 {
    padding-block: var(--spacing-20);
}
.py-24 {
    padding-block: var(--spacing-24);
}
.py-28 {
    padding-block: var(--spacing-28);
}
.py-32 {
    padding-block: var(--spacing-32);
}
.py-36 {
    padding-block: var(--spacing-36);
}
.py-40 {
    padding-block: var(--spacing-40);
}
.py-44 {
    padding-block: var(--spacing-44);
}
.py-48 {
    padding-block: var(--spacing-48);
}
.py-52 {
    padding-block: var(--spacing-52);
}
.py-56 {
    padding-block: var(--spacing-56);
}
.py-60 {
    padding-block: var(--spacing-60);
}
.py-64 {
    padding-block: var(--spacing-64);
}
.py-72 {
    padding-block: var(--spacing-72);
}
.py-80 {
    padding-block: var(--spacing-80);
}
.py-96 {
    padding-block: var(--spacing-96);
}

.ps-0 {
    padding-inline-start: var(--spacing-0);
}
.ps-1 {
    padding-inline-start: var(--spacing-1);
}
.ps-1\.5 {
    padding-inline-start: var(--spacing-1\.5);
}
.ps-2 {
    padding-inline-start: var(--spacing-2);
}
.ps-3 {
    padding-inline-start: var(--spacing-3);
}
.ps-4 {
    padding-inline-start: var(--spacing-4);
}
.ps-5 {
    padding-inline-start: var(--spacing-5);
}
.ps-6 {
    padding-inline-start: var(--spacing-6);
}
.ps-7 {
    padding-inline-start: var(--spacing-7);
}
.ps-8 {
    padding-inline-start: var(--spacing-8);
}
.ps-9 {
    padding-inline-start: var(--spacing-9);
}
.ps-10 {
    padding-inline-start: var(--spacing-10);
}
.ps-12 {
    padding-inline-start: var(--spacing-12);
}
.ps-14 {
    padding-inline-start: var(--spacing-14);
}
.ps-16 {
    padding-inline-start: var(--spacing-16);
}
.ps-20 {
    padding-inline-start: var(--spacing-20);
}
.ps-24 {
    padding-inline-start: var(--spacing-24);
}
.ps-28 {
    padding-inline-start: var(--spacing-28);
}
.ps-32 {
    padding-inline-start: var(--spacing-32);
}
.ps-36 {
    padding-inline-start: var(--spacing-36);
}
.ps-40 {
    padding-inline-start: var(--spacing-40);
}
.ps-44 {
    padding-inline-start: var(--spacing-44);
}
.ps-48 {
    padding-inline-start: var(--spacing-48);
}
.ps-52 {
    padding-inline-start: var(--spacing-52);
}
.ps-56 {
    padding-inline-start: var(--spacing-56);
}
.ps-60 {
    padding-inline-start: var(--spacing-60);
}
.ps-64 {
    padding-inline-start: var(--spacing-64);
}
.ps-72 {
    padding-inline-start: var(--spacing-72);
}
.ps-80 {
    padding-inline-start: var(--spacing-80);
}
.ps-96 {
    padding-inline-start: var(--spacing-96);
}

.pe-0 {
    padding-inline-end: var(--spacing-0);
}
.pe-1 {
    padding-inline-end: var(--spacing-1);
}
.pe-1\.5 {
    padding-inline-start: var(--spacing-1\.5);
}
.pe-2 {
    padding-inline-start: var(--spacing-2);
}
.pe-3 {
    padding-inline-start: var(--spacing-3);
}
.pe-4 {
    padding-inline-start: var(--spacing-4);
}
.pe-5 {
    padding-inline-start: var(--spacing-5);
}
.pe-6 {
    padding-inline-start: var(--spacing-6);
}
.pe-7 {
    padding-inline-start: var(--spacing-7);
}
.pe-8 {
    padding-inline-start: var(--spacing-8);
}
.pe-9 {
    padding-inline-start: var(--spacing-9);
}
.pe-10 {
    padding-inline-start: var(--spacing-10);
}
.pe-12 {
    padding-inline-start: var(--spacing-12);
}
.pe-14 {
    padding-inline-start: var(--spacing-14);
}
.pe-16 {
    padding-inline-start: var(--spacing-16);
}
.pe-20 {
    padding-inline-start: var(--spacing-20);
}
.pe-24 {
    padding-inline-start: var(--spacing-24);
}
.pe-28 {
    padding-inline-start: var(--spacing-28);
}
.pe-32 {
    padding-inline-start: var(--spacing-32);
}
.pe-36 {
    padding-inline-start: var(--spacing-36);
}
.pe-40 {
    padding-inline-start: var(--spacing-40);
}
.pe-44 {
    padding-inline-start: var(--spacing-44);
}
.pe-48 {
    padding-inline-start: var(--spacing-48);
}
.pe-52 {
    padding-inline-start: var(--spacing-52);
}
.pe-56 {
    padding-inline-start: var(--spacing-56);
}
.pe-60 {
    padding-inline-start: var(--spacing-60);
}
.pe-64 {
    padding-inline-start: var(--spacing-64);
}
.pe-72 {
    padding-inline-start: var(--spacing-72);
}
.pe-80 {
    padding-inline-start: var(--spacing-80);
}
.pe-96 {
    padding-inline-start: var(--spacing-96);
}

.pt-0 {
    padding-top: var(--spacing-0);
}
.pt-1 {
    padding-top: var(--spacing-1);
}
.pt-1\.5 {
    padding-top: var(--spacing-1\.5);
}
.pt-2 {
    padding-top: var(--spacing-2);
}
.pt-3 {
    padding-top: var(--spacing-3);
}
.pt-4 {
    padding-top: var(--spacing-4);
}
.pt-5 {
    padding-top: var(--spacing-5);
}
.pt-6 {
    padding-top: var(--spacing-6);
}
.pt-7 {
    padding-top: var(--spacing-7);
}
.pt-8 {
    padding-top: var(--spacing-8);
}
.pt-9 {
    padding-top: var(--spacing-9);
}
.pt-10 {
    padding-top: var(--spacing-10);
}
.pt-12 {
    padding-top: var(--spacing-12);
}
.pt-14 {
    padding-top: var(--spacing-14);
}
.pt-16 {
    padding-top: var(--spacing-16);
}
.pt-20 {
    padding-top: var(--spacing-20);
}
.pt-24 {
    padding-top: var(--spacing-24);
}
.pt-28 {
    padding-top: var(--spacing-28);
}
.pt-32 {
    padding-top: var(--spacing-32);
}
.pt-36 {
    padding-top: var(--spacing-36);
}
.pt-40 {
    padding-top: var(--spacing-40);
}
.pt-44 {
    padding-top: var(--spacing-44);
}
.pt-48 {
    padding-top: var(--spacing-48);
}
.pt-52 {
    padding-top: var(--spacing-52);
}
.pt-56 {
    padding-top: var(--spacing-56);
}
.pt-60 {
    padding-top: var(--spacing-60);
}
.pt-64 {
    padding-top: var(--spacing-64);
}
.pt-72 {
    padding-top: var(--spacing-72);
}
.pt-80 {
    padding-top: var(--spacing-80);
}
.pt-96 {
    padding-top: var(--spacing-96);
}

.pb-0 {
    padding-bottom: var(--spacing-0);
}
.pb-1 {
    padding-bottom: var(--spacing-1);
}
.pb-1\.5 {
    padding-bottom: var(--spacing-1\.5);
}
.pb-2 {
    padding-bottom: var(--spacing-2);
}
.pb-3 {
    padding-bottom: var(--spacing-3);
}
.pb-4 {
    padding-bottom: var(--spacing-4);
}
.pb-5 {
    padding-bottom: var(--spacing-5);
}
.pb-6 {
    padding-bottom: var(--spacing-6);
}
.pb-7 {
    padding-bottom: var(--spacing-7);
}
.pb-8 {
    padding-bottom: var(--spacing-8);
}
.pb-9 {
    padding-bottom: var(--spacing-9);
}
.pb-10 {
    padding-bottom: var(--spacing-10);
}
.pb-12 {
    padding-bottom: var(--spacing-12);
}
.pb-14 {
    padding-bottom: var(--spacing-14);
}
.pb-16 {
    padding-bottom: var(--spacing-16);
}
.pb-20 {
    padding-bottom: var(--spacing-20);
}
.pb-24 {
    padding-bottom: var(--spacing-24);
}
.pb-28 {
    padding-bottom: var(--spacing-28);
}
.pb-32 {
    padding-bottom: var(--spacing-32);
}
.pb-36 {
    padding-bottom: var(--spacing-36);
}
.pb-40 {
    padding-bottom: var(--spacing-40);
}
.pb-44 {
    padding-bottom: var(--spacing-44);
}
.pb-48 {
    padding-bottom: var(--spacing-48);
}
.pb-52 {
    padding-bottom: var(--spacing-52);
}
.pb-56 {
    padding-bottom: var(--spacing-56);
}
.pb-60 {
    padding-bottom: var(--spacing-60);
}
.pb-64 {
    padding-bottom: var(--spacing-64);
}
.pb-72 {
    padding-bottom: var(--spacing-72);
}
.pb-80 {
    padding-bottom: var(--spacing-80);
}
.pb-96 {
    padding-bottom: var(--spacing-96);
}
