.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: var(--spacing-6);
    padding-inline: var(--spacing-4);

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.navbar__logo {
    height: 2.625rem;
}

.navbar__actions-container {
    display: flex;
    gap: var(--spacing-8);
}
.navbar__actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}
