.auth-layout {
    display: flex;

    height: 100vh;
    height: 100dvh;
}

.auth-layout__main {
    flex: 1;

    display: grid;
    place-items: center;

    height: 100%;
    overflow: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-9);

    max-width: 400px;
}

.main-container__hgroup {
}

.main-container__logo {
    display: block;

    margin-inline: auto;
    margin-bottom: var(--spacing-4);
}

.cover-img {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.cover-img__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
