.auth-layout {
    display: flex;

    height: 100vh;
    height: 100dvh;
}

.auth-layout__main {
    flex: 1;

    display: grid;
    place-items: center;

    height: 100%;
    overflow: auto;
}

.auth-layout__outlet {
    --form-padding: var(--spacing-6);
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-9);

    padding-inline: var(--form-padding);
    max-width: calc(400px + (var(--form-padding) * 2));
    width: 100%;
}

.auth-layout-header {
}

.auth-layout-header__logo {
    display: block;

    margin-inline: auto;
    margin-bottom: var(--spacing-4);
}

.cover-img {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.cover-img__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 800px) {
    .cover-img {
        display: none;
    }
}
